body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.name {
    color: white;
}

.usama {
    margin-bottom: 30px;
}

.btn-sm {
    margin-top: 20px;
}

.about {
    padding-top: 25px;
}

.semester {
    padding-bottom: 35px;
    padding-right: 50px;
}

.expertise {
    padding-bottom: 100px;
}
